/* Harita konteynerine uygulanan stiller */
.map-container {
  width: 50%;
  margin: auto;
  border: 2px solid #333; /* Kenarlık rengi ve kalınlığı */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Gölge efekti */
  position: relative;
}


/* Harita konteynerının içindeki harita divi */
#map {
  width: 100%;
  height: 500px;
  display: inline-flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  background-position: center;
}

/* Sağ üst köşedeki panel */
.panel {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Paneli sağ üst köşede göstermek için "align-items" kullanın */
}

.ol-scale-bar {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 10px;
  right: 10px;
}
